fastapi
uvicorn
google-generativeai
beautifulsoup4
requests
python-multipart
PyPDF2
pydantic
yt-dlp

aiofiles
python-docx
huggingface_hub
sqlalchemy
pymysql
passlib[bcrypt]
python-jose[cryptography]
email-validator

cryptography>=41.0.0
